.test-page-layout{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 30px;

}

.prev-next-button{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.popup{
    position: fixed;
    bottom: 0;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}

.questions-grid{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    width: 1000px;
}

.scroll-to-top{
    margin-right: 100px;
    max-height: 100px;
    position: sticky;
}

.scroll-to-bottom{
    max-height: 100px;
    margin-left: 100px;
    position: static;
}