.test-page-layout{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin: 30px;

}

.prev-next-button{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 500px;
}

.prev{
    padding-bottom: 20px;
    height: 20px;
}

.next{
    size: 100px
}

.popup{
    position: fixed;
    bottom: 0;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}

.questions-grid{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;

    width: 1000px;
}

.scroll-to-top{
    /* margin-top: 1000px; */
    position: fixed;
    top: 100px;
    left: 100px;
    margin-right: 100px;
    max-height: 100px;
}

.scroll-to-bottom{
    position: fixed;
    bottom: 100px;
    right: 100px;
    max-height: 100px;
    margin-left: 100px;
}

.progress-bar{
    height: 20px;
    width: 270px;
    position: fixed;
    top: 0;
}

.header{
    font-size : 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.number{
    font-weight: bold;
}