.home-page {
    display: flex;
    justify-content: center;
}

.home-layout {
    background-color: rgb(238, 219, 163);
    margin: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* SIZING */
    width: 900px;
    min-height: 2000px;
}

.test-header {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.start-test {
    margin-top: 10px;
    padding: 20px;
    font-size: 1rem;
}

.start-test:hover {
    cursor: pointer;
}

.category-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

.category-select-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.category-select-container select{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;

    height: 30px;
}

.button-label button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}